<div class="card mb-3">
    <div class="row g-0 ">
        <div class="col-md-4">
            <img src="./img/logo.gif" class="card-img-top" alt="圖片失效就顯示這段文字">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>